# config environment
atlasserverroot="/home/steam/ATLAS"                                     # path of your ATLAS server files (default ~/ATLAS)

# ATLAS server options - use atlas_<optionname>=<value>
# comment out these values if you want to define them
# inside your GameUserSettings.ini file
serverMap="Ocean"                                               # server map (default TheIsland)
#serverMapModId="469987622"                                         # Uncomment this to specify the Map Mod Id (<fileid> in http://steamcommunity.com/sharedfiles/filedetails/?id=<fileid>)
#atlas_TotalConversionMod="496735411"                                 # Uncomment this to specify a total-conversion mod
atlas_RCONEnabled="True"                                              # Enable RCON Protocol
atlas_RCONPort="32330"                                                # RCON Port
atlas_SessionName="ATLAS Server Tools"                                  # if your session name needs special characters please use the .ini instead
atlas_Port="5750"                                                     # ATLAS server port (default 7778)
atlas_QueryPort="57550"                                               # ATLAS query port (default 27015)
atlas_ServerPassword=""                                               # ATLAS server password, empty: no password required to login
atlas_ServerAdminPassword="keyboardcat"                               # ATLAS server admin password, KEEP IT SAFE!
atlas_MaxPlayers="70"
#atlas_GameModIds="487516323,487516324,487516325"                     # Uncomment to specify additional mods by Mod Id separated by commas
#atlas_AltSaveDirectoryName="SotF"                                    # Uncomment to specify a different save directory name

# ATLAS server flags - use atlasflag_<optionname>=true
#atlasflag_OnlyAdminRejoinAsSpectator=true                            # Uncomment to only allow admins to rejoin as spectator
#atlasflag_DisableDeathSpectator=true                                 # Uncomment to disable players from becoming spectators when they die

# ATLAS server options - i.e. for -optname=val, use atlasopt_optname=val
#atlasopt_StructureDestructionTag=DestroySwampSnowStructures
